<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chokavo.chosportsman" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".ui.activities.CloakRoomActivity"
            android:label="Моя раздевалка" >
        </activity>
        <activity
            android:name=".ui.activities.VKAuthActivity"
            android:label="Войти ВК" >
        </activity>
        <activity
            android:name=".ui.activities.OpenDataActivity"
            android:label="Спортивные сооружения" >
        </activity>
        <activity
            android:name=".ui.activities.calendar.CalendarActivity"
            android:label="Календарь" >
        </activity>
        <activity
            android:name=".calendar.CalendarActivity2"
            android:label="Календарь" >
        </activity>
        <activity
            android:name=".ui.activities.HelloScreenActivity">
        </activity>
        <activity
            android:name=".ui.activities.ChooseSportsActivity"
            android:label="@string/title_activity_choose_sports" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
